.Main{
    height: 93vh;
    background: linear-gradient(90deg, rgba(225,224,237,1) 0%, rgba(122,194,191,1) 42%, rgba(0,212,255,1) 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff !important;
}

/* button{
    border: 1px solid #fff !important;
    background-color: #fff !important;
    color: #000 !important;
}

button:hover{
    color: #000000 !important;
    background-color: #fff !important;
} */

/*font-family: 'Changa', sans-serif;
font-family: 'Tangerine', cursive; */